* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  background-color: rgb(223, 223, 3);
}
h1 {
  color: white;
  font-size: 3rem;
  margin: 10% 38% auto;
}
h2 {
  padding: 2rem 2rem;
  background-color: rgb(163, 88, 88);
  margin: 0% 45%;
  text-align: center;

  border: 0;
  width: 7rem;

  height: 7rem;
  border-radius: 50%;
  font-size: 2rem;
}

.footer {
  padding: 2rem;
  align-items: baseline;
  margin: 17.5% 0 0 0;
  background-color: peru;

  padding: 0 5rem 10rem; 
  
  position: relative;
}
.footer:before {
 
  content: "";
  width: 0;
  height:0;
  position: absolute;
 padding-top: 0;
 margin-top: 0;
  border-left: 220px solid transparent;
  border-right: 220px solid transparent;
  border-top: 100px solid rgb(223, 223, 3);
  margin-left: 28%;
}